@import 'global/variables.less';
@import 'global/mixins.less';

@import 'global/fonts.less';

body
{
    font-family: 'Open Sans', 'Helvetica', 'Arial', sans-serif;
    font-size: 14px;
    font-weight: normal;
    line-height: 30px;

    color: @palette-primary;
    background-color: #fff;
}

a
{
    text-decoration: none;
}

label
{
    font-size: 14px;
    line-height: 30px;

    text-transform: uppercase;

    color: @palette-tertiary;
}

input[type='text'],
input[type='tel'],
input[type='email'],
textarea
{
    font-family: 'Open Sans', 'Helvetica', 'Arial', sans-serif;
    font-size: 18px;
    line-height: 30px;

    padding: 5px;

    color: @palette-primary;
    border: 2px solid #e5e5e5;
    outline: none;
    &:focus,
    {
        outline: none;
    }
}
input[type='checkbox'] + label,
input[type='radio'] + label
{
    font-size: 18px;

    text-transform: none;

    color: @palette-primary;
}
textarea
{
    resize: vertical;
}
@import 'blocks/advantages.less';
@import 'blocks/btn.less';
@import 'blocks/contacts.less';
@import 'blocks/main-nav.less';
@import 'blocks/page-footer.less';
@import 'blocks/page-header.less';
@import 'blocks/post-history-form.less';
@import 'blocks/post-photo.less';
@import 'blocks/post-photo-form.less';
@import 'blocks/price.less';
@import 'blocks/reviews.less';
@import 'blocks/slider.less';
@import 'blocks/social-link.less';
@import 'blocks/user-achievements.less';
@import 'blocks/user-app.less';
@import 'blocks/user-contacts.less';
@import 'blocks/user-emotions.less';
@import 'blocks/user-info.less';
@import 'blocks/user-post.less';
@import 'blocks/users-photos.less';
