//Global variables
@palette-primary: #283645;
@palette-secondary: #f2f2f2;
@palette-tertiary: #d22856;

//Fonts
@open-sans: 'Open Sans';
@open-sans-bold: 'Open Sans Bold';
@open-sans-light: 'Open Sans Light';
