.advantages
{
    text-align: center;

    background-color: @palette-white;
    &__title__item
    {
        font-family: @open-sans-light;
        font-size: 24px;
    }
    &__list
    {
        background-color: @palette-secondary;
    }
    &__item__title
    {
        font-family: @open-sans-bold;
        font-size: 18px;
        line-height: 24px;
    }
    &__item__desc
    {
        font-size: 14px;
        line-height: 24px;
    }
}
