.contacts
{
    min-height: 200px;

    background-color: #eae6dd;
    background-image: url('../img/bg-map-mobile@1x.png');
    background-repeat: no-repeat;
    background-size: 100%;
    & h3
    {
        font-size: 24px;
        font-weight: 300;
    }
    & span
    {
        font-weight: 600;
          font-size: 18px;
    }
    & a
    {
        color: @palette-tertiary;
        font-size: 24px;
    }
}
