.contacts
{
    min-height: 200px;

    background-color: #eae6dd;
    background-image: url('../img/bg-map-mobile@1x.png');
    background-repeat: no-repeat;
    background-size: 100%;
    &__info__title
    {
        font-family: @open-sans-light;
        font-size: 24px;
    }
    &__info__desc
    {
        font-family: @open-sans-bold;
        font-size: 18px;
    }
    &__info__link
    {
        font-size: 24px;

        color: @palette-tertiary;
    }
}
