.price
{
    text-align: center;
    &__items
    {
        border-collapse: collapse;

        border: 1px solid #e5e5e5;
    }
    &__header
    {
        color: #fff;
        background-color: @palette-primary;
    }
    &__items td
    {
        border-bottom: 1px solid #e5e5e5;
    }
}
